        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial;
            padding: 10px;
            background: #f1f1f1;
        }

        .container {
            position: relative;
            text-align: center;
            color: white;
          }
          
          .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: arial;
            font-size: 60px;
          }


        /* Header */
        .header {
            padding: 30px;
            text-align: center;
            background: white;
            color: #13859c;
        }

        .header h1 {
            font-size: 50px;
        }

        /* Nav Bar */
        .topnav {
            overflow: hidden;
            background-color: white;
        }

        /* Nav Links */
        .topnav a {
            float: left;
            display: block;
            color: Black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* Nav Hover Colour */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Collumns */
        /* Left column */
        .leftcolumn {
            float: left;
            width: 75%;
        }

        /* Right column */
        .rightcolumn {
            float: left;
            width: 25%;
            background-color: #f1f1f1;
            padding-left: 20px;
        }

        /* Fake image */
        .fakeimg {
            background-color: #aaa;
            width: 100%;
            padding: 20px;
        }
        
        /* Image */
        .img {
            width: 100%;
            padding: 20px;
        }
        

        /* Add a card effect for articles */
        .card {
            background-color: white;
            padding: 20px;
            margin-top: 20px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Footer */
        .footer {
            padding: 20px;
            text-align: center;
            background: #ddd;
            margin-top: 20px;
        }

        /* Responsive layout */
        @media screen and (max-width: 800px) {

            .leftcolumn,
            .rightcolumn {
                width: 100%;
                padding: 0;
            }
        }

        /* Responsive layout  */
        @media screen and (max-width: 400px) {
            .topnav a {
                float: none;
                width: 100%;
            }
        }

        /* Slide Show */
        .slideshow {
            height: 60%;
        }
